# Gradle
.gradle/
**/build/

# Java build artifacts
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
!forge/gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# IDEs and local editor state
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
